@mixin arrow-bottom {
  right: 12px;
  position: absolute;
  top: 50%;
  z-index: 2;
  color: #888;
  font-size: 16px;
  transform: translate(0, -50%);
}

@mixin signup-select-wrap {
  margin: 8px 0 0;
  position: relative;
  background: #fff;
}

@mixin sns-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
}