$background-white: rgb(255,255,255);
$box-shadow-black: rgba(0, 0, 0, 0.18);
$border-line: rgb(245, 245, 245);
$whitegray: rgb(204, 204, 204);
$link-color: rgb(0, 153 ,232);
$like-icon: rgb(234, 53, 45);
$red-button-color: rgb(234, 53, 45);