.main-contents
  .main-contents-center
    .banner
      %a{href: "https://jp-news.mercari.com/2020/01/10/pasha-shuppin/", rel: "noopener noreferrer", target: "_blank"}
        .sc-exkUMo.cLeZmk
    .popular-categories
      %h2.popular-categories__title 人気のカテゴリー
      .popular-categories__title__tag
        %ul.popular-categories__title__tag__items
          %li.popular-categories__title__tag__items__item
            %a.popular-categories__title__tag__items__item__tag レディース
          %li.popular-categories__title__tag__items__item
            %a.popular-categories__title__tag__items__item__tag メンズ
          %li.popular-categories__title__tag__items__item
            %a.popular-categories__title__tag__items__item__tag 家電・スマホ・カメラ
          %li.popular-categories__title__tag__items__item
            %a.popular-categories__title__tag__items__item__tag おもちゃ・ホビー・グッズ
    .item-list
      .item-list__group
        .item-list__group__title
          %h3.item-list__group__title__name 全ての新着アイテム(カテゴリ・ブランドは各機能実装時)
          %a.more-item{href: "#"}
            もっと見る
            = icon('fas', 'angle-right', class: 'style-right')
        .category-groups
          %ul.category-groups__group
            %li.category-groups__group__content
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.category-groups__group__content__image{href: "#"}
                  %figure.category-groups__group__content__text
                    %figcaption
                      %span.category-groups__group__content__text__title 新品　レスポートサック　ポーチ　コスメティッククラッチ　シルバー
                      .style_figcaptionTail__ACglP
                    .style_thumbnail__N_xAi
                      %span{class: 'price'} ¥2,099
                      %img{alt: "Thumbnail of \"新品　レスポートサック　ポーチ　コスメティッククラッチ　シルバー\"", src: "https://static.mercdn.net/thumb/photos/m91517264666_1.jpg?1580275903", class: "show-image"}/
            %li.category-groups__group__content
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.category-groups__group__content__image{href: "#"}
                  %figure.category-groups__group__content__text
                    %figcaption
                      %span.category-groups__group__content__text__title 新品　レスポートサック　ポーチ　コスメティッククラッチ　シルバー
                      .style_figcaptionTail__ACglP
                    .style_thumbnail__N_xAi
                      %span{class: 'price'} ¥2,099
                      %img{alt: "Thumbnail of \"新品　レスポートサック　ポーチ　コスメティッククラッチ　シルバー\"", src: "https://static.mercdn.net/thumb/photos/m91517264666_1.jpg?1580275903", class: "show-image"}/
            %li.category-groups__group__content
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.category-groups__group__content__image{href: "#"}
                  %figure.category-groups__group__content__text
                    %figcaption
                      %span.category-groups__group__content__text__title 新品　レスポートサック　ポーチ　コスメティッククラッチ　シルバー
                      .style_figcaptionTail__ACglP
                    .style_thumbnail__N_xAi
                      %span{class: 'price'} ¥2,099
                      %img{alt: "Thumbnail of \"新品　レスポートサック　ポーチ　コスメティッククラッチ　シルバー\"", src: "https://static.mercdn.net/thumb/photos/m91517264666_1.jpg?1580275903", class: "show-image"}/
            %li.category-groups__group__content
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.category-groups__group__content__image{href: "#"}
                  %figure.category-groups__group__content__text
                    %figcaption
                      %span.category-groups__group__content__text__title 新品　レスポートサック　ポーチ　コスメティッククラッチ　シルバー
                      .style_figcaptionTail__ACglP
                    .style_thumbnail__N_xAi
                      %span{class: 'price'} ¥2,099
                      %img{alt: "Thumbnail of \"新品　レスポートサック　ポーチ　コスメティッククラッチ　シルバー\"", src: "https://static.mercdn.net/thumb/photos/m91517264666_1.jpg?1580275903", class: "show-image"}/
            %li.category-groups__group__content
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.category-groups__group__content__image{href: "#"}
                  %figure.category-groups__group__content__text
                    %figcaption
                      %span.category-groups__group__content__text__title 新品　レスポートサック　ポーチ　コスメティッククラッチ　シルバー
                      .style_figcaptionTail__ACglP
                    .style_thumbnail__N_xAi
                      %span{class: 'price'} ¥2,099
                      %img{alt: "Thumbnail of \"新品　レスポートサック　ポーチ　コスメティッククラッチ　シルバー\"", src: "https://static.mercdn.net/thumb/photos/m91517264666_1.jpg?1580275903", class: "show-image"}/
            %li.category-groups__group__content
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.category-groups__group__content__image{href: "#"}
                  %figure.category-groups__group__content__text
                    %figcaption
                      %span.category-groups__group__content__text__title 新品　レスポートサック　ポーチ　コスメティッククラッチ　シルバー
                      .style_figcaptionTail__ACglP
                    .style_thumbnail__N_xAi
                      %span{class: 'price'} ¥2,099
                      %img{alt: "Thumbnail of \"新品　レスポートサック　ポーチ　コスメティッククラッチ　シルバー\"", src: "https://static.mercdn.net/thumb/photos/m91517264666_1.jpg?1580275903", class: "show-image"}/
            %li.category-groups__group__content
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.category-groups__group__content__image{href: "#"}
                  %figure.category-groups__group__content__text
                    %figcaption
                      %span.category-groups__group__content__text__title 新品　レスポートサック　ポーチ　コスメティッククラッチ　シルバー
                      .style_figcaptionTail__ACglP
                    .style_thumbnail__N_xAi
                      %span{class: 'price'} ¥2,099
                      %img{alt: "Thumbnail of \"新品　レスポートサック　ポーチ　コスメティッククラッチ　シルバー\"", src: "https://static.mercdn.net/thumb/photos/m91517264666_1.jpg?1580275903", class: "show-image"}/
            %li.category-groups__group__content
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.category-groups__group__content__image{href: "#"}
                  %figure.category-groups__group__content__text
                    %figcaption
                      %span.category-groups__group__content__text__title 新品　レスポートサック　ポーチ　コスメティッククラッチ　シルバー
                      .style_figcaptionTail__ACglP
                    .style_thumbnail__N_xAi
                      %span{class: 'price'} ¥2,099
                      %img{alt: "Thumbnail of \"新品　レスポートサック　ポーチ　コスメティッククラッチ　シルバー\"", src: "https://static.mercdn.net/thumb/photos/m91517264666_1.jpg?1580275903", class: "show-image"}/
            %li.category-groups__group__content
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.category-groups__group__content__image{href: "#"}
                  %figure.category-groups__group__content__text
                    %figcaption
                      %span.category-groups__group__content__text__title 新品　レスポートサック　ポーチ　コスメティッククラッチ　シルバー
                      .style_figcaptionTail__ACglP
                    .style_thumbnail__N_xAi
                      %span{class: 'price'} ¥2,099
                      %img{alt: "Thumbnail of \"新品　レスポートサック　ポーチ　コスメティッククラッチ　シルバー\"", src: "https://static.mercdn.net/thumb/photos/m91517264666_1.jpg?1580275903", class: "show-image"}/
            %li.category-groups__group__content
              %div{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.category-groups__group__content__image{href: "#"}
                  %figure.category-groups__group__content__text
                    %figcaption
                      %span.category-groups__group__content__text__title 新品　レスポートサック　ポーチ　コスメティッククラッチ　シルバー
                      .style_figcaptionTail__ACglP
                    .style_thumbnail__N_xAi
                      %span{class: 'price'} ¥2,099
                      %img{alt: "Thumbnail of \"新品　レスポートサック　ポーチ　コスメティッククラッチ　シルバー\"", src: "https://static.mercdn.net/thumb/photos/m91517264666_1.jpg?1580275903", class: "show-image"}/
.sell-icon
  %a.sell-icon__link{href: "#"}
    .sell-icon__content
      .sell-icon__text 出品
      = icon('fas', 'camera', class: 'camera-icon')