.user-wrapper
  .single-container__step5
    = render 'users/new-account-header'
    %main.single-main
      %section.single-main__container
        %h2.single-main__container__header
          支払い方法
        .single-main__container__registration-form
          .single-main__container__registration-form__content
            %p.done-message ありがとうございます。
            %p.done-message 会員登録が完了しました。
            .single-main__container__registration-form__content__input-box
              %p.single-main__container__registration-form__content__input-box__text-center
            = link_to '#' do
              = button_tag '#', class: 'single-main__container__registration-form__content__input-box__btn', type: 'submit' do
                Fmarketをはじめる
  = render 'item_sells/footer'
