.category_wrapper{
  width:100%;
  background-color: #EEE;
  .category_main_box{
    margin: auto;
    margin-top: 40px;
    width: 700px;
  }
  .category_block_area{
    width: 700px;
    padding: 8px 0;
    h1 {
      font-size:22px;
      line-height: 46px;
      font-weight:bold;
    }
    .category_boxes{
      width:700px;
      display:flex;
      flex-wrap: wrap;
      .category_box{
        line-height: 40px;
        text-align: center;
        height: 40px;
        background-color: #FFFFFF;
        margin: 5px;
        padding:0 30px;
        cursor: pointer;
        border-radius: 4px;
        box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
        
        & .category{
          color: black;
          font-size: 15px;
        }

        &:hover {
          background: #ea352d;
        
          .category{
            color: white;
          }
        }
      }
    }
  }
  .category_p_area{
    margin-top: 30px;
    position: relative;
    height: 40px;
    padding: 0 30px;
    line-height: 40px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: red;
    color: #FFFFFF;
    h1 {
      font-size: 22px;
      font-weight: bold;
    }
  }
  .category_c_area {
    width: 100%;
    padding: 24px 30px 10px;
    background: #FFFFFF;
    h2 {
      width: 600px;
      color: black;
      font-weight:bold;
      padding: 15px 0 5px;
    }
    .grandchild_area {
      width: 100%;
      padding:0 20px 10px;
      display: flex;
      flex-wrap: wrap;
      .grandchild {
        margin: 8px 0;
        height: 16px;
        display: block;
        width: 300px;
        padding-right: 20px;
      }
    }
  }
}
.grandchild {
  color: #0099e8;
}
.gradnchild:visited {
  color: blue;
}