.sell-main-container {
  width: 700px;
  margin: 0 auto;
  background: #fff;

  .sell-main__container__head {
    padding: 32px 16px;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  label {
  font-weight: 600;
  display: inline-block;
  }
}

  .sell-form {
    border-top: 1px solid #eee;

    &__image__upload__box {
      padding: 40px;

      &__head {
        font-size: 16px;
        font-weight: bold;
      }

      p {
        margin: 8px 0 0;
        line-height: 1.5;
      }

      &__dropbox {
        width: 620px;
        margin: 16px auto 0;

        &__item {
          display: inline;

            &__have {
              float: left;
          }
        }
      }
    }

    // image投稿欄のCSS
    &__post__drop__box__container{
      display: block;
      margin: 16px auto 0;
      display: flex;
      flex-wrap: wrap;
    
      //プレビュー表示欄のCSS
      .prev-content {
        display: flex;
        .preview-box {
          height: 162px;
          width: 112px;
          margin: 0 15px 10px 0;
          .upper-box {
            height: 112px;
            width: 100%;
            img{
              width: 112px;
              height: 112px;
            }
          }
          .lower-box {
            text-align: center;

            .delete-box {
              color: #00b0ff;
              width: 100%;
              height: 50px;
              line-height: 50px;
              border: 1px solid #eee;
              background: #f5f5f5;
              cursor: pointer;
            }
          }
        }
      }
    
      //投稿クリックエリアのCSS
      .label-content{
        margin-bottom: 10px;
        width: 620px;
        .label-box {
          display: block;
          border: 1px dashed #ccc;
          position: relative;
          background: #f5f5f5;
          width: 100%;
          height: 162px;
          cursor: pointer;
          &__text-visible {
            position: absolute;
            top: 50%;
            left: 16px;
            right: 16px;
            text-align: center;
            font-size: 14px;
            line-height: 1.5;
            font-weight: bold;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            pointer-events: none;
            white-space: pre-wrap;
            word-wrap: break-word;
          }
        }
      }
    
      //file_fieldのcss
      .hidden-content {
        .hidden-field {
          display: none;
        }
        .hidden-checkbox {
          display: none;
        }
      }
    }


    &__container__item {
      padding: 40px;
      border-top: 1px solid #eee;

        &__default {
          width: 100%;
          margin: 8px 0 0;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }

      &__description {
        margin: 40px 0 0;

        &__default {
          margin: 8px 0 0;
          display: block;
          width: 100%;
          max-width: 100%;
          min-height: 104px;
          padding: 10px;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
          line-height: 1.5;
          border-radius: 0;
          outline: 0;
          -webkit-appearance: none;
        }
      }
    }
  }
    .sell-form__content__details {
      padding: 40px;
      border-top: 1px solid #eee;
      height: 400px;
    }
      .sell-form__content__head {
        float: left;
        color: #888;
        font-size: 14px;
        font-weight: bold;
      }

      .sell-form__content__box {
        float: right;
        width: 400px;
      }
          .sell-form__select__wrap {
            margin: 8px 0 10px;
            position: relative;
            background: #fff;

              & .listing-item-detail__category {

                & .angele-down {
                  margin: auto;
                  pointer-events: none;
                  position: absolute;
                  right: 16px;
                  top: 35px;
                }

                & .listing-select-wrapper__box--select {
                  margin-top: 16px;
                  width: 100%;
                  position: relative;
                  z-index: 2;
                  height: 48px;
                  padding: 0 16px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: 0;
                  font-size: 16px;
                  line-height: 1.5;
                  cursor: pointer;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                }
              }

              &__default {
                width: 100%;
                position: relative;
                z-index: 2;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
              }

              & .angele-down {
                margin: auto;
                pointer-events: none;
                position: absolute;
                right: 16px;
                top: 15px;
              }
            }

        .sell-form__content__group__lower {
          margin: 40px 0 0;
          }
    
    .sell-form__content__delivery{
      padding: 40px;
      border-top: 1px solid #eee;
      height: 430px;
    }

      .form-question {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #0099e8;
        color: #fff;
        line-height: 14px;
        font-size: 12px;
        text-align: center;
      }

    .sell-form__content__price {
      padding: 40px 40px 20px;
      border-top: 1px solid #eee;
      height: 299px;
    }
    .sell-price__form-group {
      padding: 0 0 24px;

      &__clearfix {
        padding: 24px 0;

        &__left {
        width: 50%;
       line-height: 48px;
      }
    }
  }
      .sell-price__en {
        width: 50%;
        text-align: right;
        float: right;
      }

      .sell-price__input {
        display: inline-block;
        width: 80%;
        margin: 0 0 0 5%;

      
        .input-default {
          height: 48px;
          padding: 10px 14px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 162px;
          text-align: right;
        }
      }

    .sell-price__form-group__commission {
      padding: 24px 0;
      border-top: 1px solid #ccc;
    }
      .sales-profit {
        float: left;
      }

      .commission {
        float: right;

        & div {

          & p {
            font-size:15px;
          }
        }
      }

      .profit {
        float: right;
        
        & div {

          & p {
            font-size:15px;
          }
        }
      }
      .clearfix {
        padding: 25px 0;
        border-top: 1px solid #ccc;
      }

  .sell-form__content__sell-btn-box {
    padding: 40px;
    border-top: 1px solid #eee;
    height: 329px;

   &__rule {
     line-height: 1.5;

     &__link {
      color: #0099e8;
      text-decoration: none;
     }
   }
  }

   .sell-btn-red {
     margin: 40px 0 0;
     background: #ea352d;
     border: 1px solid #ea352d;
     color: #fff;
     width: 100%;
     line-height: 48px;
     font-size: 14px;
     transition: all ease-out .3s;
     cursor: pointer;
     text-align: center;

      &:hover {
        opacity: 0.7;
      }
   }

    .sell-btn-gray {
      width: 45%;
      margin: 24px auto 0;
      background: #aaa;
      border: 1px solid #aaa;
      color: #fff;
      display: block;
      line-height: 48px;
      font-size: 14px;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;

      &:hover {
      opacity: 0.7;
     }
  }

.listing-select-wrapper__box--arrow-down {
  margin: auto;
  pointer-events: none;
  position: absolute;
  right: 16px;
  top: 100px;
  bottom: 0;
  font-size: 12px;
}