.show-mine__bottom-container {
  width: 700px;
  margin: 0 auto;

  &__change-box {
    margin: 24px 0 24px 0;
    background: #fff;
    padding: 8px 16px 8px 16px;

    & p {
      font-size: 16px;
      text-align: center;
    }
  }
}
.items_box_photo_stop {
  width: 0;
  height: 0;
  margin-right: 20px;
  border-top: 60px solid red;
  border-right: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid red;
  z-index:3;
  position: absolute;
  top: 0;

  &__inner {
    transform: rotate(-45deg);
    font-size: 20px;
    margin:-25px 0px 0px -55px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
  }
}

.btn-red {
  margin: 16px 0 16px 0;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

.btn-gray {
  @include btn-gray;
}
.btn-delete {
  @include btn-gray;
}

.btn-gray-disabled {
  display: block;
  line-height: 48px;
  transition: all ease-out .3s;
  border: 1px solid #888;
  background: #888;
  color: #fff;
  width: 100%;
  margin: 8px 0 0;
  font-size: 0;
  text-align: center;
  cursor: not-allowed;

  & span {
    font-size: 14px;
    vertical-align: middle;
  }
}