.chapter__container {
    background: #fff;
    width: 700px;
    margin: 0 auto;

    .chapter__head {
      font-size: 24px;
      padding: 8px 24px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      font-weight: bold;
    }
    .payment__main{
      padding: 64px;
      border-top: 1px solid #f5f5f5;

      .payment__list {
        max-width: 320px;
        margin: 0 auto;

        .sub__head {
          font-size: 16px;
          font-weight: bold;
        }
      }
      .card__payment__list{
        max-width: 320px;
        margin: 0 auto;
        padding: 24px 0;
        border-bottom: 1px solid #eee;

         .card__number {
           margin: 8px 0 0;
           font-size: 16px;
         }
         .expire__date {
           margin: 8px 0 0;
           font-size: 16px;
         }
         .delete__button {
           position: relative;
           bottom: 0px;
           right: -250px;
           padding: 4px 6px;
           background: #fff;
           border-radius: 3px;
           border: 1px solid #ea352d;
           color: #ea352d;
         }
      }
      .how__not__regist {
        padding-top: 24px;

        .card_submit_button {
          display: block;
          margin-top: 32px;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
