* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}