* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #0099e8;
}

.wrapper {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 14px;
  line-height: 1;
  color: #333;
  position: relative;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.form-require {
  @include form-require;
}

.breadcrumbs {

  & i {
  margin: 0 8px;
  font-size: 9px;
  color: #888;
  }

  & .breadcrumbs-current {
  font-weight: 600;

  }

  & a {
  color: #333;
  touch-action: manipulation;
  }
}