.bottom-banner {
  background: url(/assets/top-banner-free.jpg) center center / cover;

  &__frame {
    display: flex;
    justify-content: space-between;/*各アイテムを均等に配置し最初のアイテムは先頭、最後のアイテムは末尾に寄せる*/
    width: 900px;
    margin: 0px auto;

    &__left-contents {
      display: flex;
      /*flex-direction→主軸の方向や向きを定義することで、フレックスコンテナ内でフレックスアイテムの位置を配置する方法を設定*/
      flex-direction: column;/*column→アイテムを積み重ねるように配置する*/
      justify-content: center;/*アイテムを中央に寄せる*/

      &__upper-text {
        color: black;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
      }

      &__bottom-text {
        color: black;
        font-size: 35px;
        margin-bottom: 20px;
      }

      &__icon-box__logo {
        height: 68px;
        margin-right: 20px;
        width: 68px;
        vertical-align: middle;
      }

      &__icon-box__AppStore {
        height: 40px;
        margin-right: 8px;
        width: 144px;
        vertical-align: middle;
      }

      &__icon-box__GooglePlay {
        height: 40px;
        width: 144px;
        vertical-align: middle;
      }
    }

    &__right-content {
      margin-bottom: 0;

      &__image {
        height: 260px;
        width: 300px;
        vertical-align: middle;
      }
    }
  }
}

.footer {
  background-color: rgb(34, 34, 34);
  color: $white;
  font-size: 12px;
  padding: 0px 20px 10px;
  display: block;

  &__menu {
    width: 1100px;
    margin: 0px auto;
    display: block;

    &__container {
      display: inline-block;
      margin-top: 18px;
      /*vertical-align→行の中でテキストや画像などの縦方向の揃え位置を指定する際に使用(inline,テーブルセルのみに使用できる)*/
      vertical-align: top;/*top→上端揃え*/
      width: auto;
      padding: 0px 40px 0px 0px;
  
      &__title {
        font-size: 16px;
        font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
        line-height: 24px;
        font-weight: 600;
      }

      &__list-content {
        line-height: 1.4em;
        margin: 16px 0px 0px;

        &__link {
          color: $white;
          opacity: 0.7;
          word-break : break-all;
        }

        &__icon {
          display: inline-block;
          margin-top: 30px;
        }
      }

      &__privacy {
        margin-top: 18px;
        padding-right: 40px;
        width: 43%;
        display: inline-block;
        vertical-align: top;

        &-policy {
          display: inline-block;
          vertical-align: top;
          width: 50%;

          &__right {
            display: inline-block;
            margin-left: 30px;
            vertical-align: top;
            width: 50%;
            position: relative;
            left: 230px;
            top: -150px;
          }
        }
      }
    }
  }
}

.twitter-icon {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  width: 30px;
  margin-right: 20px;
  color: $white;
  font-size: 25px;
}

.footer-bottom {
  margin: 30px auto 20px;
  width: 1100px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;

  &__link {
    text-align: center;

    &__image {
      height: 31px;
      width: 124px;
      vertical-align: middle;/*middle→中央揃え*/
    }
  }

  &__offer {
    text-align: center;
    padding-left: 15px;
    width: 75%;
  }
}