.mypage-tab-container {
  margin: 0;
  background: #fff;

  & .mypage-tab-head {
    padding: 0 16px;
    background: #fafafa;
    font-size: 16px;
    line-height: 72px;
    font-weight: bold;
  }
}

.listing-tabs {
  border: 0;
  background: #eee;

  & li {
    width: 32.9%;
    display: inline-block;
    text-align: center;
    vertical-align: top;

    & h3 {
      font-size: 22px;

      & a {
        position: relative;
        display: block;
        color: #333;
        font-size: 16px;
        line-height: 72px;
      }
    }
    &.active {
      background: #fff;
  
      & a {
        border-top: 2px solid #ea352d;
      }
    }
  }
}

.tab-content {
  background: #fff;

  & .mypage-item-list.active {
    display: block;

    & li {
      position: relative;

      &:first-child {
        border-bottom: 1px solid #eee;
      }

      &:last-child {
        border: 0;
      }

      & .mypage-item-link {
        display: block;
        min-height: 80px;
        padding: 16px;
        color: #333;
      }

      & figure {
        position: relative;
        overflow: hidden;
        float: left;
        width: 48px;
        height: 48px;

        & img {
          transform: translate(0, -50%);
          position: absolute;
          top: 50%;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          opacity: 1;
          transition: opacity .3s;
        }
      }

      & .mypage-item-body {
        margin: 0 40px 0 68px;

        &.show-stock-item {
          margin-right: 100px;
        }

        & .mypage-item-text {
          overflow: hidden;
          display: block;
          display: -webkit-box;
          max-height: 4.4em;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          line-height: 1.5;
        }

        & div {
          margin-top: 5px;

          & span {
            vertical-align: 2px;
            margin: 0 6px 0 0;

            & i {
              vertical-align: middle;
              color: #ccc;
            }

            & span {
              vertical-align: middle;
              margin: 0 0 0 2px;
              font-size: 16px;
              color: #888;
            }
          }

          & .mypage-item-status {
            display: inline-block;
            margin: 8px 0 0 0;
            padding: 5px 6px;
            border-radius: 2px;
            font-size: 12px;
            color: #fff;
            font-weight: 600;

            &.action-sell {
              background: #0099e8;
            }

            &.action-required {
              background: #ea352d;
            }
          }
        }
      }

      & .mypage-listing-right {
        position: absolute;
        top: 50%;
        right: 16px;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
      }
    }
  }
}