* {
  text-decoration: none;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
p {
  margin: 8px 0 0;
  line-height: 1.5;
}
.form-info-text {
  color: #888;
}

.single-container {
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
  background-color: #f5f5f5;
  padding: 0 0 220px;
}
.single-main {
  display: block;
  &__container {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    &__header {
      border-top: 1px solid #f5f5f5;
      font-weight: bold;
      padding: 32px 16px;
      font-size: 22px;
      line-height: 1.5;
      margin: 0px;
      text-align: center;
    }
  }
}
.registration-form {
  border-top: 1px solid #f5f5f5;
  padding: 40px 40px 64px;
  &__content {
    max-width: 343px;
    margin: 0 auto;
    p:first-child {
      margin: 0;
      padding: 0;
    }
    p.l-single-text {
      margin: 8px 0 0;
      padding: 0;
      line-height: 1.5;
    }
    .form-group:first-child {
      margin: 0;
    }
    .form-group {
      margin: 40px 0 0;
      label {
        font-weight: 600;
      }
      .form-require {
        background: #ea352d;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }
      .input-default {
        width: 100%;
        margin: 8px 0 0;
        height: 48px;
        padding: 0 0 0 16px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
      
      .checkbox-default {
        margin: 16px 0 0;
        position: relative;
        input {
          display: none;
        }
        label {
          position: relative;
          z-index: 2;
          padding: 0 0 0 28px;
          font-size: 14px;
          font-weight: 400;
          vertical-align: middle;
          cursor: pointer;
        }
        .icon-check {
          position: absolute;
          top: 50%;
          left: 0;
          z-index: 1;
          width: 20px;
          height: 20px;
          border-radius: 2px;
          background: #fff;
          border: 1px solid #ccc;
          font-size: 10px;
          line-height: 17px;
          text-align: center;
          color: #fff;
          vertical-align: middle;
          transition: all ease-out .3s;
          transform: translate(0, -50%);
          padding-top: 2px;
          &::before {
            content: '\e00f';
          }
        }
      }
      .form-password-revelation-revealed-password-container {
        line-height: 1.5;
        font-size: 16px;
        font-weight: 500;
        font-family: monospace;
        margin: 14px 0;
        word-break: break-all;
        overflow-wrap: break-word;
        .form-password-revealed-password {
          background-color: #f5f5f5;
          padding: 4px 8px;
        }
      }
      h3.l-chapter-sub-head {
        font-size: 16px;
        font-weight: bold;
      }
      
    }
  }
}
.birthday-select-wrap {
  .select-wrap {
    width: 76px;
    display: inline-block;
    margin: 8px 0 0;
    position: relative;
    background: #fff;
    span {
      margin: 0 2px;
    }
     .icon-arrow-bottom {
      right: 12px;
      position: absolute;
      top: 50%;
      z-index: 2;
      color: #888;
      font-size: 16px;
      transform: translate(0, -50%);
      }
      .select-wrap-default {
        padding: 0 10px;
        width: 100%;
        position: relative;
        z-index: 2;
        height: 48px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: 0;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
        outline: 0;
        -webkit-appearance: none;
      }
  
  }
}
.text-center {
  text-align: center;
}
.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}
.btn-red {
  margin-top: 32px;
  margin: 24px 0 0;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}
.text-right {
  text-align: right;
}
.recaptcha_term {
  background-color: #f5f5f5;
  padding: 8px 16px;
  p {
    color: #888888;
    font-size: 12px;
  }
}
