.bottom-banner
  .bottom-banner__frame
    .bottom-banner__frame__left-contents
      .bottom-banner__frame__left-contents__upper-text スマホでかんたんフリマアプリ
      .bottom-banner__frame__left-contents__bottom-text 今すぐ無料ダウンロード！
      .bottom-banner__frame__left-contents__icom-box
        = link_to root_path do
          %img.bottom-banner__frame__left-contents__icon-box__logo{alt: "fmarket", src: "/assets/logo_red.svg"}
          %a{href: "#"}
            %img.bottom-banner__frame__left-contents__icon-box__AppStore{alt: "AppStore", src: "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}
          %a{href: "#"}
            %img.bottom-banner__frame__left-contents__icon-box__GooglePlay{alt: "GooglePlay", src: "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}
    .bottom-banner__frame__right-content
      %img.bottom-banner__frame__right-content__image{alt: "fmarket", src: "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"}
.footer
  %nav.footer__menu
    .footer__menu__container
      %h2.footer__menu__container__title フリマアプリについて
      %ul.footer__menu__container__list
        %li.footer__menu__container__list-content
          %a.footer__menu__container__list-content__link{href: "#"} 会社概要（運営会社）
        %li.footer__menu__container__list-content
          %a.footer__menu__container__list-content__link{href: "#"} 採用情報
        %li.footer__menu__container__list-content
          %a.footer__menu__container__list-content__link{href: "#"} プレスリリース
        %li.footer__menu__container__list-content
          %a.footer__menu__container__list-content__link{href: "#"} 公式ブログ
        %li.footer__menu__container__list-content
          %a.footer__menu__container__list-content__link{href: "#"} フリマアプリロゴ利用ガイドライン
        %a.footer__menu__container__list-content__icon{href: "#", target: "_blank"}
          = icon('fab', 'twitter', class: 'twitter-icon')
        %a.footer__menu__container__list-content__icon{href: "#", target: "_blank"}
          = icon('fab', 'facebook-square', class: 'twitter-icon')
    .footer__menu__container
      %h2.footer__menu__container__title ヘルプ＆ガイド
      %ul.footer__menu__container__list
        %li.footer__menu__container__list-content
          %a.footer__menu__container__list-content__link{href: "#"} フリマアプリガイド
        %li.footer__menu__container__list-content
          %a.footer__menu__container__list-content__link{href: "#"} らくらくフリマアプリ便
        %li.footer__menu__container__list-content
          %a.footer__menu__container__list-content__link{href: "#"} ゆうゆうフリマアプリ便
        %li.footer__menu__container__list-content
          %a.footer__menu__container__list-content__link{href: "#"} 大型フリマアプリ便
        %li.footer__menu__container__list-content
          %a.footer__menu__container__list-content__link{href: "#"} 車体取引ガイド
        %li.footer__menu__container__list-content
          %a.footer__menu__container__list-content__link{href: "#"} フリマアプリあんしん・あんぜん宣言！
        %li.footer__menu__container__list-content
          %a.footer__menu__container__list-content__link{href: "#"} 偽ブランド品撲滅への取り組み
        %li.footer__menu__container__list-content
          %a.footer__menu__container__list-content__link{href: "#"} フリマアプリボックス
    .footer__menu__container__privacy
      %h2.footer__menu__container__title プライバシーと利用規約
      .footer__menu__container__privacy-policy
        %ul.footer__menu__container__list
          %li.footer__menu__container__list-content
            %a.footer__menu__container__list-content__link{href: "#"} プライバシーポリシー
          %li.footer__menu__container__list-content
            %a.footer__menu__container__list-content__link{href: "#"} フリマアプリ利用規約
          %li.footer__menu__container__list-content
            %a.footer__menu__container__list-content__link{href: "#"} あんしんスマホサポート制度に関する利用特約
          %li.footer__menu__container__list-content
            %a.footer__menu__container__list-content__link{href: "#"} コンプライアンスポリシー
      .footer__menu__container__privacy-policy__right
        %ul.footer__menu__container__list
          %li.footer__menu__container__list-content
            %a.footer__menu__container__list-content__link{href: "#"} 個人データの安全管理に係る基本方針
          %li.footer__menu__container__list-content
            %a.footer__menu__container__list-content__link{href: "#"} 特定商取引に関する表記
          %li.footer__menu__container__list-content
            %a.footer__menu__container__list-content__link{href: "#"} 資金決済法に基づく表示
          %li.footer__menu__container__list-content
            %a.footer__menu__container__list-content__link{href: "#"} 法令遵守と犯罪抑止のために
    .footer__menu__container
      %h2.footer__menu__container__title 国
      %ul.footer__menu__container__list
        %li.footer__menu__container__list-content
          %a.footer__menu__container__list-content__link{href: "#"} 日本
  .footer-bottom
    %a.footer-bottom__link{href: "#"}
      %img.footer-bottom__link__image{alt: "Mercari", src: "/assets/logo_white.svg"}/
    %span.footer-bottom__offer © Free Market, Inc.



